@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Edu+VIC+WA+NT+Beginner&family=Mingzat&family=Poppins:ital,wght@0,400;0,500;0,700;1,200&family=Rubik+Moonrocks&display=swap');

/* simple font */

body {
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 50px; */
    padding: 50px 140px 0px 140px;
}


/* ------------------
   banner section 
  --------------------- */

.container {
    background-color: #161616;
    width: 1330px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.banner-detil,
.banner-image {
    width: 50%;
}

.banner-detil {
    padding: 112px 105px 152px 87px;
    font-size: 10vw;
}

.banner-image img {
    width: 100%;
    width: 590px;
    height: 695px;
}


.banner-info {
    font-size: 70px;
    color: #FFFFFF;
    margin-bottom: 4px;
}

.banner-story {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

a {
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #DD0000;
    padding: 16px 25px;
    border-radius: 5px;
    width: 30%;
    gap: 10px;

}

.banner-image {
    margin-right: 50px;
    padding-top: 120px;

}

/* ----------------------
   - blog section item -
---------------------- */
.blog-section {
    width: 1330px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 130px;
}

.blog-section .blog-container [type="button"] {
    color: #161616;
    width: 100px;
    height: 32px;
    border-radius: 5px;
    font-size: 16px;
    background: #FFFFFF;
}

.blog-container {
    background-color: #FFFFFF;
    border: 2px solid #64626223;
    border-radius: 20px;
}

.blog-container img {
    width: 100%;
}

.blog-info {
    padding: 20px;
}

.blog-douration {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

span {
    padding-left: 10px;
}

/* ---------------------
--- footer section ---
-------------------------- */