@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Edu+VIC+WA+NT+Beginner&family=Mingzat&family=Poppins:ital,wght@0,400;0,500;0,700;1,200&family=Rubik+Moonrocks&display=swap');

/* simple font */

body {
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* main details  */

main {

    /* padding-top: 50px; */
    padding: 50px 140px 130px 140px;

}


/* ------------------
   banner section 
  --------------------- */

.container {
    background-color: #161616;
    width: 1330px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.banner-detil,
.banner-image {
    width: 50%;
}

.banner-detil {
    padding: 112px 105px 152px 87px;
    font-size: 10vw;
}

.banner-image img {
    width: 100%;
    width: 590px;
    height: 695px;
}


.banner-info {
    font-size: 70px;
    color: #FFFFFF;
    margin-bottom: 4px;
}

.banner-story {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.button {
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #DD0000;
    padding: 16px 25px;
    border-radius: 5px;
    width: 30%;
    gap: 10px;

}

.banner-image {
    margin-right: 50px;
    padding-top: 120px;

}

/* -------------------------------
--- upcoming details and info ---
----------------------------------  */
.upcoming-section {
    width: 1330px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 130px;
}

.upcoming-container {
    /* width: 100%; */
    padding: 30px;
    background-color: #FFFFFF;
    border: 2px solid #64626223;
    border-radius: 20px;
}

.upcoming-flags {
    display: flex;
    /* padding: 30px; */
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.upcoming-detial {
    text-align: center;
}

/* -----------------------
--- start footer ---
------------------------- */

footer {
    background-color: #161616;
    /* width: 1600px; */
    width: 100%;
    color: #FFFFFF;
}

#heading {
    font-size: 40px;
    width: 600;
    text-align: center;
    margin-top: 130px;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 80%;
    margin-bottom: 50px;
    margin-top: 50px;

}

.info-container {
    display: flex;
    justify-content: center;
    margin-bottom: 130px;

}

.footer-info {
    text-decoration: none;
    color: #B9B9B9;
    font-size: 20px;
    margin-left: 50px;

}

/* end footer  */